@model FileSystemItem

<style>
    .accordion-item h2 > button {
        transition: all 0.1s ease-in-out;
    }

    .accordion-item h2 > button.collapsed:hover {
        border-bottom: 1px solid blue;
        color: blue;
    }

    .accordion-item h2 > button:not(.collapsed):hover {
        color: blue;
    }

    .accordion-collapse.collapse hr {
        transition: all 0.2s ease-in-out;
    }

    .accordion-collapse.collapse.show hr {
        border: 1px solid blue;
    }

    .accordion-button:not(.collapsed) + div hr {
        border: 1px solid blue;
    }

    .accordion-button:not(.collapsed) {
        color: blue !important;
    }

    #accordion a:hover {
        border-bottom: 1px solid blue;
        color: blue !important;
    }
</style>

<div id="accordion" class="bg-dark bg-opacity-75 text-white p-4 rounded">
    @Html.Raw(await VideoModel.RenderNazcaAccordionItem(Model, "accordion", 0, ViewBag.videosOrder != null ? (bool)ViewBag.videosOrder : false))
</div>