@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Dodatkowe informacje</h5>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, nisl a vulputate viverra, eros augue eleifend tortor, et feugiat turpis ligula at ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
